@import '@/styles/mixins';

.post {
    background: var(--color-secondary);
    border-radius: var(--border-radius--default);
    padding: 20px;
    cursor: pointer;
    transition: scale 0.25s var(--cubic-bezier--default);
    border: 1px solid var(--color-border--vivid);

    &:hover {
        scale: 1.025;
    }

    > .post__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        > .post__title {
            color: var(--color-text--primary);
            margin: 0;
        }

        > .info__inner {
            @include flex-row-center-center();
            gap: 20px;
            white-space: nowrap;

            > .info__author {
                @include flex-row-center-center();
                gap: 20px;

                > .author__text {
                    font-size: 0.9rem;
                    font-weight: 500;
                    color: var(--color-text--primary);
                }
            }

            > .info__timestamp {
                @include flex-row-center-center();
                gap: 20px;

                > .timestamp__text {
                    font-size: 0.9rem;
                    font-weight: 500;
                    color: var(--color-text--primary);
                }
            }
        }
    }

    > .post__content {
        color: var(--color-text--idle);
        text-shadow: 0 0 0.5px var(--color-text--idle);
        word-wrap: break-word;
    }
}
