@import '@/styles/mixins';

.header {
    @include flex-row-center-center();

    width: 100%;
    background: var(--color-secondary);

    > .header__inner {
        @include flex-row-space-center();

        width: 900px;
        height: 100%;
        padding-block: 10px;
        gap: 25px;

        > a {
            > div {
                > .header__logotype {
                    @include flex-row-center-center();
                    @include active-transform('y');

                    > .logotype__icon {
                        margin-right: 10px;
                    }

                    > .logotype__text {
                        color: var(--color-text--primary);
                        font-size: var(--font-size--logotype);
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 1px;

                        &--primary {
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }

        > .header__search-field {
            width: 250px;
            height: 30px;
            margin-right: 200px;
        }

        > .header__registration {
            @include flex-row-center-center();
            gap: 20px;

            > .registration__text {
                color: var(--color-text--idle);
                font-size: var(--font-size--input);

                cursor: pointer;

                transition:
                    color 0.5s var(--cubic-bezier--default),
                    text-shadow 0.5s var(--cubic-bezier--default);

                &:hover {
                    color: var(--color-primary);
                    text-shadow: 0 0 0.5px var(--color-primary);
                }
            }
        }
    }
}
