@import '@/styles/mixins';

.header {
    @include flex-row-center-center();

    width: 100%;
    background: var(--color-secondary);

    > .header__inner {
        //width: 1000px;
        height: 100%;
        padding-block: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;

        > a {
            > div {
                > .header__logotype {
                    @include flex-row-center-center();
                    @include active-transform('y');

                    > .logotype__icon {
                        margin-right: 10px;
                    }

                    > .logotype__text {
                        color: var(--color-text-primary);
                        font-size: 1.2rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 1px;

                        &--primary {
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }

        //> .header__search-field {
        //    width: 500px;
        //
        //    > .search-field__inner {
        //        width: 100%;
        //    }
        //}
        //
        //> .button {
        //    width: 100px;
        //}
    }
}
