@import '@/styles/mixins';

.write-commentary {
    @include flex-row-center-center();
    border-top: 1px solid var(--color-border--vivid);
    padding: 20px;
    gap: 20px;

    > .write-commentary__avatar {
        border-radius: 50%;
    }
}
